__pycache__/*
source/module/__pycache__/*
source/module/battleStates/__pycache__/*
source/module/fieldStates/__pycache__/*
source/module/facilityStates/__pycache__/*
source/module/systemStates/__pycache__/*
source/module/map/__pycache__/*
source/module/params/__pycache__/*
source/module/events/__pycache__/*
source/module/constant/__pycache__/*
savedata.dat
source/dist/*
.venv/*
