__pycache__/*
.vscode/*
source/module/__pycache__/*
source/module/battleStates/__pycache__/*
source/module/fieldStates/__pycache__/*
source/module/facilityStates/__pycache__/*
source/module/systemStates/__pycache__/*

